@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

*{
    margin: 0;
    font-family: 'Livvic', sans-serif;
}
.nav-wrapper{
    padding-left: 15vh;
    padding-right: 15vh;
    background-color: #5FB49C;
    opacity: 0.9;
    border-bottom: 3px dotted #515364;
    border-left: 3px dotted #515364;
}
.main-wrapper{
    background-color: #98DFAF;
    height: 65vh;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
#nav-mobile li{
    padding-right: 2vh;
}
.center-pitch{
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    padding-left: 3vh;
}
.pitch{
    font-family: 'Slabo 27px', serif;
    width: 40%;
    padding-top: 30px;
}.pitch h4, .pitch h6{
    font-family: 'Slabo 13px', serif;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
}
.pitch h6{ padding-bottom: 30px; }

.register-btn{ 
    margin-right: 30px;
    background-color: #ffffff;
    color: #515364;
    font-weight: bold;
} .register-btn:hover{
    background-color: #ffffff !important;
    color: #515364;
}

.image-pitch{
    padding-left: 3%;
    width: 50%;
    position: relative;
    top: 25px;
}
.image-pitch img{
    height: 94%;
    border-radius: 10px 10px 0px 0px;
    z-index: 0;
    position: relative;
}
.fun1, .fun2, .fun3{
    padding: 8vh 20vh 5vh 20vh;
    position: relative;
}
form{
    background: #35393C !important;
    color:#ffffff !important;
    width: 100%;
    
}

/* Animación POP-UP */
.modal.top-sheet {
    top: 0% !important;
    bottom: auto !important;
    transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .2s;
    will-change: transform;
    transform: translate(0, -100%) scale(1) !important;
    width: 40%;
    opacity: 1 !important;
  }
  .modal.top-sheet.open {
     transition: transform cubic-bezier(0.22, 0.61, 0.36, 1) .35s .25s;
  }
  .modal.top-sheet.open:not([style*="display: none"]):not([style*="opacity: 0;"]) {
    transform: translate(0, 0%) !important;
  }
#contacto-p{
    margin-bottom: 3vh;
}

.footer-copyright{
    background: rgb(71, 75, 78);
    color: #ffffff;
    text-align: center;
    padding: 3vh;
}

